<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span9">
  </div>

  <div class="span6">
    <p><b>Name: </b><%= @problem.name %></p>
    <p><b>Description: </b> </br><%= @problem.description %></p>
    <p><b>Outcome: </b><%= @problem.outcome %></p>
    <h3>Predictions</h3>
    <% @problem.predictions.each do |prediction| %>
      <div>
        <strong><%= prediction.username %></strong>
        <br />
        <p><%= prediction.body %></p>
      </div>
    <% end %>
    <%= render 'predictions/form' %>
    <p>
      <%= link_to 'Edit', edit_problem_path(@problem) %> |
      <%= link_to 'Destroy', @problem, confirm: 'Are you sure?', method: :delete %> |
      <%= link_to 'Back', problem_path %>
    </p>
  </div>
</div>